body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: #ccc;
  }

.cont{
    width: 700px;
    height: 400px;
    /* border: 1px solid black; */
}

input {
    position:relative;
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    border: 3px solid #422800;
    border-radius: 50px;
    box-shadow: #422800 6px 6px 0 0;
    outline:0;
    top: 180px;
    background-color: #fbeee0;
    color:#422800;
    width: 700px;
    height: 80px;
    font-size: 35px;
    text-align: center;
  }
  
  
  
  h1 {
    position: relative;
    top: 80px;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    font-size: 70px;
    color: #422800;
    text-align: center;
  }